
<ng-container *transloco="let t; prefix: 'landing-pages.error-page'">
  <div style="height:100%" class="eui-u-flex eui-u-flex-justify-content-center eui-u-flex-align-items-center">
    <div class="row eui-u-pl-2xl">
      <div class="col-12 col-md-8">
        <h1 class="eui-u-c-accent eui-u-mb-none">{{(errorData?.status ?? '')}}</h1>
        <h4 class="eui-u-c-accent eui-u-mb-none">
          {{ errorData?.statusText ?? '' }}
        </h4>
      </div>
      <div class="col-12">
        {{ t('message.' + errorData?.status) }}
      </div>
      <div class="col-12" *ngIf="errorData?.error">
        {{ errorData?.error | json}}
      </div>
    </div>
  </div>
</ng-container>
